.generic-content-container {
	
	p { 									 /* We create a new rule to select any p nested inside the class*/
		line-height: 1.65; 		/*line-height doesn't require a unit of measurement */
		margin: 1.8rem 0;
		
		@mixin atSmall {
			font-size: 1.125rem;
		}
	}
	
	p a {  							/* select every a nested in p nested in the class */
		font-weight: 700;  	/* a nomal font-weight is 400 */
	}
	
}