/* To create a generic style for paragraphs and links (font-size, font-weight, line-height, margin */

.generic-content-container {	
	p { 									 /* We create a new rule to select any p nested inside the class generic-content-container*/
		font-weight: 300;
		line-height: 1.65; 		/* Line-height doesn't require a unit of measurement */
		margin: 0 0 1.8rem 0;
		
		@mixin atSmall {
			font-size: 1.125rem;
		}
	}
	
	p a {  							/* Select every 'a' nested in 'p' nested in the class */
		font-weight: 700;  	/* a nomal font-weight is 400 */
	}
}