.row {
	
	@mixin clearfix; /* code to clear floats and fake content so the div knows how tall it is. Created a mixin to re-use the code */
	
/* create a negative margin that equals the padding of the children elements to make the row 65px widder than it should be. The goal is to hide the right padding on the 2nd block of the row (we use it in combinason with overflow in the _wrapper file */ 	
	&--gutters {
		margin-right: -65px;
	}
	
	&--gutters-large {
		margin-right: -100px;
	}
	
	&--gutters > div { /* select direct children divs inside the class (our 2 row divs __4 and __8) */
		padding-right: 65px;  /* add padding on the right of both divs inside the row (see comment above for delating 2nd divs padding)*/
	}
	
	&--gutters-large > div {
		padding-right: 100px;
	}
	
	&__b-margin-until-medium {
		margin-bottom: 1rem;       /*add margin for small screens*/
	}
	
/* We want these rules to only apply to medium or larger screen size. For small screens it will keep the default column layout*/	
	@mixin atMedium {  
		
		&__b-margin-until-medium {
			margin-bottom: 0;				/*delate margin for medium and larger screens*/
		}
		
		&__medium-4 {
		float: left;
		width: 33.33%;
		}

/* We want to make the 'column img' larger and the 'column text' smaller, instead of changing the size directly with the initial class we create a class modifier. This way we can reuse the original width of 33% in the testimonials section */		
		&__medium-4--larger { 
			width: 37%;
		}
		
		&__medium-6 {
			float: left;
			width: 50%;
		}
	
		&__medium-8 {
			float: left;
			width: 66.66%;
		}
		
		&__medium-8--smaller {
			width: 63%;
		}
	}
}